html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
.wrapper {
  max-width: 100%;
  height: 100%;
  position: relative;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

<<<<<<< HEAD
  background-image: url(../img/fon1.jpg);
  /* background-image: linear-gradient(to right, #ccc, #ccc, #ccc, #ccc, #ccc); */
=======
  background-image: linear-gradient(to bottom, rgb(70, 59, 238), rgb(91, 122, 224), rgba(40, 21, 122, 0.74));
>>>>>>> 026ec81fc7ee00457de8f4e462bac73a37edf326
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
canvas {
  display: block;
}